@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --mainColor: #6d91ee;
  --smallHeadingColor: #324473;
  --footerColor: #0c1e49;
  --inputColor: #cedcff;
  --bgmainColor: #fcfcfc;
  --baseFontSize: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: calc(var(--baseFontSize) + 0.5vw);
}

html {
  font-size: 100%; /* 1rem = 16px */
}

h2,
h3 {
  font-weight: 900;
  font-size: 2.5rem; /* 2.5 * 16px = 40px */
  line-height: 1.5em; /* 1.5 * 2.5rem = 3.75rem = 60px */
}

h2 {
  color: #fff;
}

h3 {
  color: var(--mainColor);
}

p,
.error {
  font-size: 1rem;
  line-height: 1.25rem;
}

.btn-helpme {
  font-weight: 700;
  font-size: 1rem;
  line-height: 2.25rem;
  padding: 0.625rem 1.5625rem;
  border-radius: 4.4375rem;
}

/* heading before & after */
.heading-container {
  padding: 0.5rem;
  position: relative;
  display: inline-block;
}

.corner1::before,
.corner1::after,
.corner2::before,
.corner2::after {
  content: "";
  position: absolute;
  width: 1em;
  height: 2px;
  background-color: var(--mainColor);
}

.corner1::before {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.corner1::after {
  top: 0;
  right: 0;
  transform: translate(50%, -50%) rotate(45deg);
}

.corner2::before {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%) rotate(45deg);
}

.corner2::after {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%) rotate(-45deg);
}

/* About */
.about {
  background-image: url("./assets/Rectangle 262.png");
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.about-container p {
  width: 33.625rem; /* 33.625 * 16px = 538px */
}

.about-img {
  max-width: 25rem; /* 25 * 16px = 400px */
}

.where {
  background-image: url("./assets/Vector 8.png");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  direction: rtl;
  max-width: 920px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.where-container {
  width: 30.875rem; /* 30.875 * 16px = 494px */
}

@media (max-width: 768px) {
  .about {
    height: auto;
  }

  .about-container p {
    width: 100%;
  }

  .about-img {
    width: 100%;
    text-align: center;
  }

  .where {
    position: relative;
    direction: ltr;
    height: auto;
  }

  .where-container {
    width: 100%;
    padding: 0;
  }
}

/* Services */
.services .card {
  box-shadow: 0 10px 30px 0 rgba(16, 51, 30, 0.1);
  border: 0;
  background-color: #fff;
  /* width: 24.0625rem;
  height: 31.5rem; */
}

.services .card-title {
  color: var(--smallHeadingColor);
  font-weight: 900;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
}

.services .card-text {
  color: var(--smallHeadingColor);
  font-weight: 400;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.services .btn-helpme {
  background-color: var(--mainColor);
  color: #fff;
}

/* Contact */
.contact form input {
  background-color: var(--inputColor);
  border-radius: 3.8125rem; /* 3.8125 * 16px = 61px */
}

.button .btn {
  border: 2px solid var(--mainColor);
  border-radius: 3.8125rem; /* 3.8125 * 16px = 61px */
  padding: 0.625rem 4rem; /* 10px 64px */
}

.button .btn:hover {
  border: 2px solid var(--inputColor);
  background-color: var(--mainColor);
  color: #fff;
}

.email-icon,
.phone-icon {
  color: var(--mainColor);
  margin-right: 0.625rem; /* 10px */
}

/* Footer */
footer {
  background-color: var(--footerColor);
  height: 9.0625rem; /* 145px */
}

/* testymonials */
.testymonials,
.services {
  background-color: var(--bgmainColor);
}

.testymonials h5 {
  color: var(--mainColor);
  font-weight: 700;
  line-height: 1.375rem; /* 22px */
}

.inner {
  border: 2px solid var(--mainColor);
  padding: 1.25rem; /* 20px */
  border-radius: 2.5rem; /* 40px */
  background-color: #fff;
}

.avatar {
  width: 50%;
}

.star-icon {
  color: var(--mainColor);
}
