.heading-container {
  padding: 5px 10px;
  position: relative;
  display: inline-block;
}

.heading-container::before,
.heading-container::after,
.heading-container .corner::before,
.heading-container .corner::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #6495ed;
}

.heading-container::before {
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.heading-container::after {
  top: 0;
  right: 0;
  transform: translate(50%, -50%) rotate(45deg);
}

.heading-container .corner::before {
  bottom: 0;
  left: 0;
  transform: translate(-50%, 50%) rotate(45deg);
}

.heading-container .corner::after {
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%) rotate(-45deg);
}
